.app-container {
    margin-top: 75px;
}

.center {
    text-align: center;
    margin-top: 50px;
}

.pointer {
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 400;
}

.header {
    margin-left: 30px;
}

h1 {
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 15px;
}

.btn {
    color:white;
    background-color: lightskyblue;
    border-radius: 0px;
}

ul {
    list-style-type: none;
}

.choice {
    cursor: pointer;
    margin: 15px;
    display: inline;
    padding: 15px;
    background-color: lightsteelblue;
    text-transform: lowercase;
}

.question {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
}

.end {
    text-align: center;
}